<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1>Enter A Pokemon!</h1>
    <form action="/" method="POST">
    <input type="text" name="pokemon" >
 <button type="submit" name="button">Enter</button></form>


</body>
</html>